CoastWatch.ipynb
.ipynb_checkpoints/CoastWatch-checkpoint.ipynb
Classification/Data/
Classification/training_data/
READMEnotes.md
*.pyc
CL_DriverTemplate_Test.py
Validation/
VegEdge_Montrose2022.py
VegEdge_StAndrewsTimeseries.py
VegEdge_Validation_Notebook.py
VegEdge_Validation_HiRes.py
VegEdge_Validation.ipynb
VegEdge.ipynb
Shoreline.ipynb
.ipynb_checkpoints/


